{% extends 'backend/backend_layout.html.twig' %}

{% block title %}New Casting{% endblock %}

{% block content %}
    <h1>Create new Casting</h1>
    <h2>{{ movie.title }}</h2>

    {{ include('backend/casting/_form.html.twig') }}

    <a href="{{ path('backend_casting_index_by_movie', {'id': movie.id}) }}">back to list</a>
{% endblock %}
