{% extends 'base.html.twig' %}

{% block content %}
    <div id="custom-404">

        <h1>
            Cette page n'existe pas 
        </h1>

        <div class="d-flex justify-content-center">
            <i class="fas fa-meh-blank"></i>
            <i class="fas fa-surprise"></i>
            <i class="fas fa-sad-tear"></i> 
        </div>

    </div>

{% endblock %}